html {
    font-family: 'Open Sans', sans-serif;
}
a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}
h1, h2 {
    font-weight: bold;
}

/******************************************
/* LAYOUT
/*******************************************/
main{
    display: flex;
    font-size: 12px;

}
section {
    flex-direction: row;
    max-width: auto;
}
main > section {
    background: #c53a51;
    padding: 0 10px;
    color: white;
}
section + section {
    background: #D16174;
    padding: 0 20px;
    color: rgb(32, 39, 39);
    font-size: 1.3em;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/